/* Importo las fuentes que voy a usar */
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

body {
    font-family: 'Nuosu SIL', serif;
    overflow-x: hidden;
    background-color: #f9f9f9;
	transition: background 0.2s linear;

    /* CARDS */
    align-items: center;
    justify-content: center;
}

body.dark {
    background-color: #292C35;
}

header {
    height: 100vh;
    width: 100%;
    color: white;
}

.alert-error {
    padding: 15px;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: rgb(255, 209, 209);
    color: rgb(109, 0, 0);
  }
  
  .alert-green {
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #e5ffe7;
    color: rgb(2, 91, 0);
  }

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
    margin-left: 7.2em;
	height: 26px;
	width: 50px;
	transform: scale(1.3px);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}


/* =====================HOME========================== */

.home-header {
    background-color: #457b9d;
    border-bottom-style:solid;
    border-bottom-color: #bbe5ff;
    border-bottom-right-radius: 10px;
}

.home-header .navbar-brand{
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 30px;
}

.home-header p{
    font-size: 15px;
}

.home-header .navbar .navbar-nav .dropdown-menu{
    background-color: #78c4f7;
}

.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

/* =====================FILTERS========================== */
.poems-filter{
    margin-top: 2em;
}
/* =====================POEMS CARDS========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poems-card-text{
    margin-top: 20px;
    margin-left: 10em;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: rgb(188, 188, 188);
}

.poems-card-text:after {
    content: "";
    height: 1px;
    width: 50%;
    background-color: rgb(150, 150, 150);
    position: absolute;
    bottom: -.5em;
    left: 50%;
    transform: translate(-50%);
  }

.principal-container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 5px 8px #000000;
    justify-content: center;
    margin-top: 3em;
    background-color: rgb(134, 134, 134);
    min-height:300px;
}

.poem-container {
    justify-content: center;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    min-height: 150px;
    width: 450px;
}

.second-container {
    justify-content: center;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    min-height: 100px;
    width: 300px;
}

.third-container {
    display: flex;
    justify-content: center;
    margin: 1em 1em 1em 1em;
    background-color: rgb(134, 134, 134);
    min-height: 100px;
    width: 10px;
}

.title h3 {
    margin: 1em 1em;
    color: #000000;
    text-align: left;
    font-size: 19px;
}

.card {
    background-color: rgb(217, 217, 217);
    display:flex;
    margin-top: 1em;
    width: 425px;
    min-height: 150px;
    border-radius: 10px;
}

.card .poem-title h3 {
    margin: 1em 1em;
    color: #000000;
    text-align: left;
    font-size: 20px;
}

.card .poem-title span {
    margin: 1em 1em;
    color: #000000;
    font-size: 15px;
    padding: 2px;
    text-align: left;
}

.card .poem-text p{
    float: right;
    display: flex;
    align-items: center;
    word-break:break-all;
    margin: 1em 1em;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    text-align: left;
}

.card button{
    position:absolute;
    bottom: 0;
    margin: 1em 1em;
    margin-right: 100px;
}

.comment {
    width: 280px;
    min-height: 150px;
    border-radius: 10px;
}

.comments-container {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 1em;
    background: #c3c3c3;
    padding: 3px;
    min-height: 150px;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0px 1px 10px
    rgba(0, 0, 0, 0.3);
}

.comment-text p {
    background-color: #d9d9d9;
    color: #000000;
}


.comment .title h3 {
    margin: 1em 1em;
    color: #000000;
    text-align: left;
    font-size: 15px;
}

.ratings {
    background-color: rgb(134, 134, 134);
    width: 280px;
    height: 95px;
    border-radius: 10px;
}

.ratings .title-avg h3 {
    color: #000000;
    text-align: left;
    font-size: 15px;
}

.divide-line hr{
    width: 100%;
    border: 1px solid #000000;
}

div[class^='col']
{
    border-radius:20px;
    text-align:center
}

.header-container {
    min-height:80px;
}

.vl {
    width: 100%;
    border: 1px solid #c3c2c2;
  }

/* =====================PAGINATION========================== */

.paginate{
    margin-top: 3em;
}

/* =====================FOOTER========================== */

.footer {
    position: fixed;
    bottom: 0;
    background-color: #1d3557;
    margin-top: 11.5em;
    text-align: center;
    font-size: 15px;
}

.footer p{
    color: #afafaf;
}