/* Importo las fuentes que voy a usar */
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

body {
    font-family: 'Nuosu SIL', serif;
    overflow-x: hidden;

    /* CARDS */
    align-items: center;
    justify-content: center;

}

.bg-img {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .bg-img {
        min-height: 30vh;
    }
}

/* =====================MENU========================== */

#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

#phrase-txt p{
    margin-top: 2em;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    /* background-color: aqua; */
    color: white;
    padding: 5px;
}

#welcome-txt p{
    margin-top: 1em;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    /* background-color: aqua; */
    color: white;
    padding: 5px;
}

#btn-home button{
    font-size: 15px;
    padding: auto;
    margin-top: 20px;
    margin-bottom: 35px;
}

#tf-txt p{
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 1px;
}
/* =====================MENU========================== */


/* =====================HOME========================== */

#home-header {
    margin-top: 0px;
}

#home-header p{
    font-size: 15px;
}

#home-header h1{
    font-size: 25px;

}



/* =====================POEMS CARDS========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 500px;
    height: 250px;
    display: flex;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 5px 10px #000000;
    border-radius: 10px;
    transition: 0.1s;
    margin-top: 3em;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 20px #000000;
}

.card .img-card {
    background: url(pictures/rosa.jpg);
    width: 40%;
    height: 100%;
    background-size: cover;
}

.card .content{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 150px 50px;
    padding: 10px 15px;
}

.card .content .poem-title h3 {
    color: #026e5e;
}

.card .content .poem-title span{
    color: #0089ba;
    font-size: 12px;
}

.card .content .poem-text p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

.card .content .btn-container button{
    background-color: #000000;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.card .content .btn-container button:hover {
    background: #000000;
}


