/* Importo las fuentes que voy a usar */
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

body {
    font-family: 'Nuosu SIL', serif;
    overflow-x: hidden;
    background-color: #f9f9f9;

    /* CARDS */
    align-items: center;
    justify-content: center;

}

/* =====================HOME========================== */

.home-header {
    justify-content: center;
    height: 100%;
    background-color: #457b9d;
    border-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #bbe5ff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.home-header .navbar-brand{
    text-shadow: 1px 1px 2px rgb(59, 59, 59);
    color: white;
    font-size: 30px;
}

.home-header p{
    font-size: 15px;
}

.home-header .navbar .navbar-nav .dropdown-menu {
    background-color: #78c4f7;
}

.ad {
    height: 20px;
    background-color: #f1faee;
    border-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cbcbcb;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#btn-login button{
    color: #000000;
    background-color: #73c6b6;
    border-color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
    padding: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* =====================POEM CARD========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal-container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 5px 8px #000000;
    justify-content: center;
    margin-top: 1em;
    background-color:hsl(0, 0%, 100%);
    min-height:480px;
}

.poem-container {
    justify-content: center;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    height: 440px;
    width: 450px;
}

.second-container {
    justify-content: center;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    height: 440px;
    width: 300px;
}

.third-container {
    display: flex;
    justify-content: center;
    margin: 1em 1em 1em 1em;
    background-color:#ffffff;
    height: 450px;
    width: 10px;
}

.card {
    display:flex;
    width: 425px;
    height: 440px;
    border-radius: 10px;
}

.card .poem-title h3 {
    margin: 1em 1em;
    color: #000000;
    text-align: left;
    font-size: 20px;
}

.card .poem-title span {
    margin: 1em 1em;
    color: #000000;
    font-size: 15px;
    padding: 2px;
    text-align: left;
}

.card .poem-text p{
    float: right;
    display: flex;
    align-items: center;
    word-break:break-all;
    margin: 1em 1em;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    text-align: left;
}

.card button{
    position:absolute;
    bottom: 0;
    margin: 1em 1em;
    margin-right: 100px;
}

.comment {
    width: 280px;
    height: 300px;
    border-radius: 10px;
}

.comment-text p {
    float: right;
    display: flex;
    align-items: center;
    word-break:break-all;
    margin: 0 0 2em 2em;
    background-color: #d9d9d9;
    border-radius: 5px;
    margin: 1em 1em;
    color: #000000;
    font-size: 15px;
    padding: 2px;
    text-align: left;
    height: 100px;
}

.comment .title h3 {
    margin: 1em 1em;
    color: #000000;
    text-align: left;
    font-size: 15px;
}

.ratings {
    background-color: #ffffff;
    width: 280px;
    height: 100px;
    border-radius: 10px;
}

.ratings .title-avg h3 {
    color: #000000;
    text-align: left;
    font-size: 15px;
}

.divide-line hr{
    width: 100%;
    border: 1px solid #000000;
}

div[class^='col']
{
    border-radius:20px;
    text-align:center
}

.header-container {
    min-height:80px;
}

.vl {
    width: 100%;
    border: 1px solid #c3c2c2;
  }

.star-img {
position: relative;
text-align: center;
font-weight: bold;
color: black;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* =====================FOOTER========================== */

.footer {
    position: relative;
    margin-top: 1.7em;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #1d3557;
    text-align: center;
    font-size: 15px;
}

.footer p{
    padding: 1px;
    color: #afafaf;
}