{% extends 'base.html' %}
  {% block menu %}
  {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/user_main_page_styles.css')}}">
  {% endblock %}    
  {% block content_menu %}
    <header>
    <!-- Agrego algunos estilos para que funcionen bien las imagenes con el darkmode -->
    <style>
      body
      {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{url_for('static', filename='img/arte2.jpg')}}");
        background-repeat: no-repeat;
        background-size: 100% 30%;
      }
      body.dark 
      {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{url_for('static', filename='img/arte2.jpg')}}");
	      background-color: #292C35;

      }
    </style>
    <!-- Agrego algunos estilos para que funcionen bien las imagenes con el darkmode -->
      <nav class="navbar navbar-expand-lg bg-transparent p-2" id="menu">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <span class="text-white fs-1 fw-bold">
              the poetizer
            </span> 
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('main.index_user')}}">Home</a>
              </li>

            <!-- TODO: agregar lista EN-ES, que se pueda elegir el idioma de la pagina, por defecto EN
              <li class="nav-item">
                <a class="nav-link" href="#">Languaje</a>
              </li>
            </ul>
            
            <!-- TODO: cambiar el boton por uno de icono que se despliegue -->
            <!-- <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
              <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
            </form> -->
          </div>
        </div>
      </nav>
      <div class="container d-flex justify-content-center" id="phrase-txt">
        <p>"La poesía no quiere adeptos, quiere amantes"</p>
      </div>
        <div class="visitor-menu justify-content-center">
          <form class="d-flex justify-content-center" role="go-home" id="btn-login">
              <a class="btn btn-primary btn-primary-outline-success" type="button" href="{{url_for('main.login')}}">LOGIN</a>
          </form>
          <div class="divide-line d-flex container justify-content-center">
              <hr>
          </div>
          <form class="d-flex justify-content-center" role="go-home" id="btn-visitor">
              <a class="btn btn-outline-secondary btn-primary-outline-success" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">VISITOR</a>
          </form>
        </div>
        <div class="container d-flex justify-content-center" id="tf-txt">
          <p>tp</p>
        </div>
    </header>
    <!-- ===================================================== -->
    {% endblock%}

    {% block btn %}
    <a class="nav-link active" aria-current="page" href="{{url_for('main.index_user')}}">Home</a>
    {% endblock %}

    {% block content_navbar %}
    <!-- ===================================================== -->
    <!-- HOME-->
    <!-- NAVBAR HOME -->
                <form class="d-flex justify-content-center" role="go-home" id="btn-login">
                    <a class="btn btn-primary btn-primary-outline-success" type="button" href="{{url_for('main.login')}}">LOGIN</a>
                </form>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="ad container-fluid justify-content-center">
        <div class="welcome-ad">
            <p>👋 HELLO</p>
        </div>
        <div class="text-ad">
          <p>REGISTER ON OUR PAGE TO SHARE YOUR ART, POET!</p>
        </div>
    </div>
    <!-- ===================================================== -->
    {% endblock %}
    
    {% block content %}
    {{ super() }}
    <!-- ===================================================== -->
  <form method="POST" action="{{url_for('main.index_user')}}">
        <!-- ===================================================== -->
    <!-- POEMS CARDS -->
    <div>
      <h1 class="poems-card-text">POEMS LIST</h1>
    </div>
    <!-- ===================================================== -->
    <!-- FILTERS -->
    <div class="row section-1">
      <!--Columna -->
      <div class="col-md-12 ">
        <div id="filterbar">
          <select class="poems-filter">
              <option value="">Filter by DATE</option>
              <option value="">Filter by TITLE</option>
              <option value="selected">Filter by RATING</option>
          </select>
        </div>
      </div><!--Fin de la columna -->
     </div><!--Fin de la fila -->
    <!-- ===================================================== -->

    <!-- ===================================================== -->
    <tbody>
      {% for poem in poems %}
      <!-- CARD 1 -->
      <div class="card container d-flex justify-content-center">
        <div class="img-card">
          <img src="{{url_for('static', filename='img/poem.jpeg')}}" class="card-img-top" alt="...">
        </div>
        <div class="content">
          <div class="poem-title">
            <h3>{{poem.title}}</h3>
            <span>{{poem.user.name}}</span>
          </div>
          <div class="poem-text">
            <p>{{poem.body}}</p>
          </div>
          <div class="btn-container">
            <a type="btn btn-primary btn-primary-outline-success" href="{{url_for('poem.view_user',id=poem.id)}}">View All</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
    <!-- ===================================================== -->
    <!-- ===================================================== -->
      <!-- PAGINATION -->
      <div class="paginate">    
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="< Atras" {% if page == 1 %} hidden {% endif %}></li>
            
            {% if page < 3 %}
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="1"/></li>
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="2"/></li>
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="3"/></li>
            {% else %}
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="{{page - 2}}"/></li>
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="{{page - 1}}"/></li>
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="{{page}}"/></li>
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="{{page + 1}}"/></li>
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="{{page + 2}}"/></li>
            {% endif %}
            
            <li class="page-item"><input type="submit" class="page-link" name="n_page" value="Siguiente >"/></li>
            </ul>
        </nav>
      </div>
  </form>
    <!-- ===================================================== -->
    {% endblock %}