{% extends 'base.html' %}
  {% block menu %}
  {{ super () }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/view_poet_credentials_styles.css')}}">
  {% endblock %}

  <!-- ===================================================== -->
  {% block btn %}
  <a class="nav-link active" aria-current="page" href="{{url_for('main.index_poet')}}">Home</a>
  {% endblock %}

  {% block content_navbar %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('poem.my_poems', id=user.id)}}">My Poems</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">My Ratings</a>
        </li>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{url_for('static', filename='img/avatar.png')}}" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{{url_for('user.details',id=user.id)}}">USER DETAILS</a></li>
            <li><a class="dropdown-item" href="{{url_for('user.edit_profile')}}">EDIT USER CREDENTIALS</a></li>
            <li><a class="dropdown-item text-danger" href="#">DELETE ACCOUNT</a></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
        </div>
        </ul>
        </div>
      </div>
      </nav>
    </div>
  {% endblock %}
  <!-- ===================================================== -->

  {% block content %}
        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <div class="card">
                        <div class="poem-title">
                            <div class="user-img">
                                <img src="{{url_for('static', filename='img/user.png')}}" alt="mdo" width="150" height="150" class="rounded-circle">
                            </div>
                            <h1>NICKNAME</h1>
                            <h3>{{user_info.name}}</h3>
                            <h2>EMAIL</h2>
                            <h3>{{user_info.email}}</h3>
                            <h2>NUMBER OF POEMS</h2>
                            <h3>{{user_info.num_poems}}</h3>
                            <h2>NUMBER OF RATINGS</h2>
                            <h3>{{user_info.num_marks}}</h3>
                        </div>
                    </div>
                </div>
                <div class="btn-back">
                  <a type="button" class="btn" href="{{url_for('main.index_poet')}}">Back Home</a>
                </div>
            </div>

            <div class="col-lg-2 col-md-1"></div>
        </div>
  {% endblock %}