{% extends 'base.html' %}
{% block menu %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/view_add_poem.css')}}">
{% endblock %}

{% block content %}
        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <form method="POST" id="form2" action="/poem/create">
                        <div class="card">
                            <div class="poem-title">
                                <div class="poemtitle">
                                    <input class="form-control" type="poemtitle" name="title" placeholder="POEM TITLE..">
                                </div>
                                <div class="poembody">
                                    <textarea class="form-control" name="body" rows="3" placeholder="INSERT YOUR POEM HERE.."></textarea>
                                </div>
                            </div>
                            <!-- <form class="d-flex justify-content-center" role="go-home" id="btn-post"> -->
                                <button class="btn btn-primary btn-primary-outline-success" type="submit">POST</button>
                            <!-- </form> -->
                        </div>
                        <div class="btn-back">
                            <a type="button" class="btn btn-outline-secondary" href="{{url_for('main.index_poet')}}">Back Home</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
{% endblock %}