{% extends 'base.html' %}
  {% block menu %}
  {{ super () }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/view_poet_credentials_styles.css')}}">
  {% endblock %}

  {% block content %}
        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <div class="card">
                        <div class="poem-title">
                            <div class="user-img">
                                <img src="{{url_for('static', filename='img/user.png')}}" alt="mdo" width="150" height="150" class="rounded-circle">
                            </div>
                            <h1>NICKNAME</h1>
                            <h3>{{user_info.name}}</h3>
                            <h2>EMAIL</h2>
                            <h3>{{user_info.email}}</h3>
                            <h2>NUMBER OF POEMS</h2>
                            <h3>{{user_info.num_poems}}</h3>
                            <h2>NUMBER OF RATINGS</h2>
                            <h3>{{user_info.num_marks}}</h3>
                        </div>
                    </div>
                </div>
                <div class="btn-back">
                  <a type="button" class="btn" href="{{url_for('main.index_poet')}}">Back Home</a>
                </div>
            </div>

            <div class="col-lg-2 col-md-1"></div>
        </div>
  {% endblock %}