{% extends 'base.html' %}
    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="/frontend/main/static/css/view_login.css">
    {% endblock %} 
    {% block content %}
        <!-- ===================================================== -->

        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <div class="poem-title">
                        <form class="login-form">
                            <div class="form-group row">
                                <label class="text" for="">Enter NICKNAME</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="inputNickname" placeholder="neruda123">
                                </div>
                            </div>
                        </form>
                        <form action="">
                            <div class="form-group row">
                                <label class="text" for="">Enter PASSWORD</label>
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                        </form>
                    </div>
                    <form class="d-flex justify-content-center" role="go-home" id="btn-apply">
                        <button class="btn btn-primary btn-primary-outline-success" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">SIGN IN</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
    {% endblock %}