{% extends 'base.html' %}
    {% block menu %}
    {{ super() }}
        <link rel="stylesheet" href="{{url_for('static', filename='css/view_poem_user_style.css')}}">
    {% endblock %}  

    {% block content_navbar %}
    <!-- ===================================================== -->
    <!-- HOME-->
    <!-- NAVBAR HOME -->
                <form class="d-flex justify-content-center" role="go-home" id="btn-login">
                    <a class="btn btn-primary btn-primary-outline-success" type="button" href="{{url_for('main.login')}}">LOGIN</a>
                </form>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- ===================================================== -->
    {% endblock %}

    {% block content %}
        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <div class="col-md-6 poem-container">
                        <div class="card">
                            <div class="poem-title">
                                <h3>{{poem.title}}</h3>
                                <span>{{poem.user.name}}</span>
                            </div>
                            <div class="poem-text">
                                <p>{{poem.body}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 third-container">
                        <div class="vl"></div>
                    </div>
                    <!-- COMMENTS AND RATING -->
                    <div class="col-md-6 second-container">
                        <div class="comment justify-content-center">
                            <div class="title">
                                <h3>COMMENTS</h3>
                            </div>
                            <div class="comment-text">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ab officiis, omnis odit exercitationem libero ratione architecto illum tempore iusto.</p>
                            </div>
                            <div class="comment-text">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>

                        <div class="ratings container justify-content-center">
                            <div class="divide-line container justify-content-center">
                                <hr>
                            </div>
                            <div class="title-avg">
                                <h3>RATINGS AVG</h3>
                            </div>
                            <div class="star-img">
                                <img src="{{url_for('static', filename='img/star.png')}}" alt="mdo" width="40" height="40" class="rounded-circle">
                                <div class="centered">#</div>
                            </div>
                            <div class="btn-back">
                                <a type="button" class="btn btn-outline-secondary" href="{{url_for('main.index_user')}}">Back Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
    {% endblock %}