{% extends 'base.html' %}
  {% block menu %}
  {{ super () }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/view_myratings.css')}}">
  {% endblock %}
    
    {% block content %}
    <!-- ===================================================== -->
    <!-- POEMS CARDS -->
    <div>
      <h1 class="poems-card-text">POEMS LIST</h1>
    </div>

      <!-- ===================================================== -->
    <!-- FILTERS -->
    <div class="row section-1">
      <!--Columna -->
      <div class="col-md-12 ">
        <div id="filterbar">
          <select class="poems-filter">
              <option value="">Filter by DATE</option>
              <option value="">Filter by TITLE</option>
              <option value="selected">Filter by RATING</option>
          </select>
        </div>
      </div><!--Fin de la columna -->
    </div><!--Fin de la fila -->

    <!-- ===================================================== -->
    <tbody>
      {% for mark in marks %}
        <!-- CARD 1 -->
        <div class="row">
          <!-- Espacio en blanco -->
          <div class="col-lg-2 col-md-1"></div>
          <div class="col-lg-8 col-md-10 principal-container">
              <div class="row">
                  <!--POEM -->
                  <div class="col-md-6 poem-container">
                    <div class="title">
                      <h3>POEM</h3>
                    </div>
                      <div class="card">
                          <div class="poem-title">
                              <h3>{{mark.poem.title}}</h3>
                              <span>Poet: {{mark.poem.user.name}}</span>
                              <span>Score: {{mark.score}}</span>
                          </div>
                          <div class="poem-text">
                              <p>{{mark.poem.body}}</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 third-container">
                      <div class="vl"></div>
                  </div>
                  <!-- COMMENT -->
                  <div class="col-md-6 second-container">
                      <div class="comment justify-content-center">
                          <div class="title">
                              <h3>COMMENT</h3>
                          </div>
                          <div class="comments-container">
                              <tbody>
                              <div class="comment-text">
                                  <h8>{{mark.user.name}}</h8>
                                  <p>{{mark.commentary}}</p>
                              </div>
                              </tbody>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-1"></div>
      </div>
      {% endfor %}
    <!-- ===================================================== -->
{% endblock %}