{% extends 'base.html' %}
{% block menu %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/view_edit_profile_styles.css')}}">
{% endblock %}
{% block content %}
        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <div class="card">
                        <div class="poem-title">    
                            <form method="POST" id="form_editprofile" action="/user/edit_profile">
                                <div class="form-group">
                                    <label class="text" for="">Enter New NICKNAME</label>
                                    <input type="text" name="name" class="form-control" placeholder="neruda123">
                                </div>
                                <div class="form-group">
                                    <label class="text" for="">Enter New EMAIL</label>
                                    <input type="text" name="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label class="text" for="">Enter New PASSWORD</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="d-flex justify-content-center" role="go-home" id="btn-apply">
                                    <button class="btn btn-primary btn-primary-outline-success" type="submit">APPLY</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="btn-back">
                        <a type="button" class="btn btn-outline-secondary" href="{{url_for('main.index_poet')}}">Back Home</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
        <!-- ===================================================== -->
{% endblock %}