<!doctype html>
<html lang="ar">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous"> 
        <link rel="stylesheet" href="/frontend/main/static/css/view_poem_poet_styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>the poetizer / Poets Place</title>
    </head>

    <body>
        <!-- ===================================================== -->
        <!-- HOME-->
        <!-- NAVBAR HOME -->
        <div class="home-header">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">the poetizer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="my-poems">My Poems</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="my-ratings">My Ratings</a>
                    </li>
                    <div class="dropdown text-end">
                      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/frontend/main/static/img/avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
                      </a>
                      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/frontend/main/templates/view_poet_credentials.html">USER DETAILS</a></li>
                        <li><a class="dropdown-item" href="/frontend/main/templates/view_edit_profile.html">EDIT USER CREDENTIALS</a></li>
                        <div>
                          <input type="checkbox" class="checkbox" id="chk" />
                          <label class="label" for="chk">
                            <i class="fas fa-moon"></i>
                            <i class="fas fa-sun"></i>
                            <div class="ball"></div>
                          </label>
                        </div>
                        <li><a class="dropdown-item text-danger" href="#">DELETE ACCOUNT</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        <!-- ===================================================== -->

        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <div class="col-md-6 poem-container">
                        <div class="card">
                            <div class="poem-title">
                                <h3>{Poem title}</h3>
                                <span>{Poet Name}</span>
                            </div>
                            <div class="poem-text">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ab officiis, omnis odit exercitationem libero ratione architecto illum tempore iusto dignissimos aliquid ad facilis accusamus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 third-container">
                        <div class="vl"></div>
                    </div>
                    <!-- COMMENTS AND RATING -->
                    <div class="col-md-6 second-container">
                        <div class="comment justify-content-center">
                            <div class="title">
                                <h3>COMMENTS</h3>
                            </div>
                            <div class="comment-text">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ab officiis, omnis odit exercitationem libero ratione architecto illum tempore iusto.</p>
                            </div>
                            <form action="">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">ADD COMMENT</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </form>
                            <form class="d-flex justify-content-center" role="go-home" id="btn-sendcomment">
                                <button class="btn btn-primary btn-primary-outline-success" type="button data-toggle="button" aria-pressed="false" autocomplete="off"">COMMENT</button>
                            </form>
                            <div class="rating form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">3</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox4">4</label>
                              </div>  
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox5">5</label>
                            </div>
                        </div>

                        <div class="ratings container justify-content-center">
                            <div class="divide-line container justify-content-center">
                                <hr>
                            </div>
                            <div class="title-avg">
                                <h3>RATINGS AVG</h3>
                            </div>
                            <div class="star-img">
                                <img src="/frontend/main/static/img/star.png" alt="mdo" width="40" height="40" class="rounded-circle">
                                <div class="centered">#</div>
                            </div>
                            <div class="btn-back">
                                <a type="button" class="btn btn-outline-secondary" href="/frontend/main/templates/poet_main_page.html">Back Home</a>
                            </div>
                        </div>
                        <div class="add-com container justify-content-center">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
        <!-- ===================================================== -->
        <!-- FOOTER -->
        <div class="footer d-flex container-fluid justify-content-center">
        <div class="row">
            <p>Copyright 2022 - the poetizer</p>
        </div>
        </div>
        <!-- ===================================================== -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="/frontend/main/static/js/dark_mode.js"></script>

    </body>
</html>
