{% extends 'base.html' %}
  {% block menu %}
  {{ super () }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/view_poet_mypoems.css')}}">
  {% endblock %}
    
    {% block content %}
    {{ super() }}

    <!-- ===================================================== -->
    <!-- BUTTON ADD NEW POEM -->
    <div class="row section-1">
      <!--Columna -->
      <div class="col-md-12 ">
        <div id="new-poem-btn">
          <a type="button" class="btn btn-primary btn-new" href="{{url_for('poem.create')}}">NEW+</a>
        </div>
      </div><!--Fin de la columna -->
    </div><!--Fin de la fila -->
    <!-- ===================================================== -->

    <!-- ===================================================== -->
    <!-- POEMS CARDS -->
    <div>
      <h1 class="poems-card-text">POEMS LIST</h1>
    </div>

      <!-- ===================================================== -->
    <!-- FILTERS -->
    <div class="row section-1">
      <!--Columna -->
      <div class="col-md-12 ">
        <div id="filterbar">
          <select class="poems-filter">
              <option value="">Filter by DATE</option>
              <option value="">Filter by TITLE</option>
              <option value="selected">Filter by RATING</option>
          </select>
        </div>
      </div><!--Fin de la columna -->
     </div><!--Fin de la fila -->

    <!-- ===================================================== -->
    <tbody>
      {% for poem in poems %}
        <!-- CARD 1 -->
        <div class="card container d-flex justify-content-center">
          <div class="img-card">
            <img src="{{url_for('static', filename='img/poem.jpeg')}}" class="card-img-top" alt="...">
          </div>
          <div class="content">
            <div class="poem-title">
              <h3>{{poem.title}}</h3>
              <span>{{poem.user.name}}</span>
            </div>
            <div class="poem-text">
              <p>{{poem.body}}</p>
            </div>
            <div class="btn-container">
              <a type="button" href="{{url_for('poem.view_user', id=poem.id)}}" id="view_btn">View All</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </tbody>
    <!-- ===================================================== -->
{% endblock %}