<!doctype html>
<html lang="ar">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous"> 
        <link rel="stylesheet" href="view_edit_profile_styles.css">
        <title>the poetizer / Poets Place</title>
    </head>

    <body>
        <!-- ===================================================== -->
        <!-- HOME-->
        <!-- NAVBAR HOME -->
        <div class="home-header">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">the poetizer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="my-poems">My Poems</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="my-ratings">My Ratings</a>
                    </li>
                    <div class="dropdown text-end">
                      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="./pictures/avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
                      </a>
                      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">USER DETAILS</a></li>
                        <li><a class="dropdown-item" href="#">EDIT USER CREDENTIALS</a></li>
                        <li><a class="dropdown-item text-danger" href="#">DELETE ACCOUNT</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        <!-- ===================================================== -->

        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <div class="card">
                        <div class="poem-title">
                            <form action="">
                                <div class="form-group">
                                    <label class="text" for="">Enter New NICKNAME</label>
                                    <input type="nick" class="form-control" id="" placeholder="neruda123">
                                </div>
                            </form>
                            <form action="">
                                <div class="form-group row">
                                    <label class="text" for="">Enter New PASSWORD</label>
                                    <div class="col-sm-12">
                                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                  </div>
                            </form>
                        </div>
                        <form class="d-flex justify-content-center" role="go-home" id="btn-apply">
                            <button class="btn btn-primary btn-primary-outline-success" type="button data-toggle="button" aria-pressed="false" autocomplete="off"">APPLY</button>
                        </form>
                    </div>
                    <div class="btn-back">
                        <button type="button" class="btn btn-outline-secondary">Back Home</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
        <!-- ===================================================== -->
        <!-- FOOTER -->
        <div class="footer d-flex container-fluid justify-content-center">
        <div class="row">
            <p>Copyright 2022 - the poetizer</p>
        </div>
        </div>
        <!-- ===================================================== -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>
</html>
