{% extends 'base.html' %}
{% block menu %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/view_edit_profile_styles.css')}}">
{% endblock %}
{% block content %}
        <!-- ===================================================== -->
        <!-- VIEW ALL POEM INFO -->
        <!-- POEM -->
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 principal-container">
                <div class="row">
                    <!--POEM -->
                    <div class="card">
                        <div class="poem-title">
                          <form method="POST" id="form3" action="/poem/create">
                                <div class="form-group">
                                    <label class="text" for="">Enter New NICKNAME</label>
                                    <input type="nick" name="name" class="form-control" id="" placeholder="neruda123">
                                </div>
                            </form>
                            <form action="">
                                <div class="form-group row">
                                    <label class="text" for="">Enter New PASSWORD</label>
                                    <div class="col-sm-12">
                                      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                  </div>
                            </form>
                        </div>
                        <form class="d-flex justify-content-center" role="go-home" id="btn-apply">
                            <button class="btn btn-primary btn-primary-outline-success" type="submit">APPLY</button>
                        </form>
                    </div>
                    <div class="btn-back">
                        <a type="button" class="btn btn-outline-secondary" href="{{url_for('main.index_poet')}}">Back Home</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
        <!-- ===================================================== -->
{% endblock %}